name: Build Common Properties Library

on: push

jobs:
  build-zeenea-common-properties:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Tests run
        uses: gradle/gradle-build-action@v2
        with:
          arguments: check --info
