name: Publish Common Properties Library

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  publish-zeenea-common-properties:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Get version
        id: get_version
        run: |
          LIB_VERSION=$(<version)
          echo "LIB_VERSION=${LIB_VERSION}" >> $GITHUB_OUTPUT
        env:
          LIB_VERSION: ${{ steps.get_version.outputs.LIB_VERSION }}

      - name: Publish library
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.get_version.outputs.LIB_VERSION }}
          generateReleaseNotes: true
          commit: ${{ github.sha }}
