name: publish

on:
  release:
    types: [ published ]

permissions:
  contents: read
  packages: write

jobs:
  publish-zeenea-common-properties:
    if: ${{ !github.event.release.draft }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - uses: gradle/actions/setup-gradle@v5

      - name: Build and Publish with Gradle
        run: ./gradlew publish
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VERSION: ${{ github.event.release.tag_name }}
